@model List<Trip>
@{
    ViewData["Title"] = "My Trip Log";
}

<div class="row mx-5">
    <div class="text-center col-md-12">
        <a class="btn btn-info btn-block p-3 text-white font-weight-bolder shadow"
           asp-controller="Home" asp-action="Add">
            Add Trip
        </a>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success mt-3" role="alert">
        @TempData["Message"]
    </div>
}

<table class="table table-bordered table-striped my-5">
    <thead>
        <tr><th>Destination</th><th>Start Date</th><th>End Date</th><th>Accommodations</th><th>Things To Do</th><th>Actions</th></tr>
    </thead>
    <tbody>
        @foreach (var trip in Model)
        {
            <tr>
                <td>@trip.Destination.Name</td>
                <td>@trip.StartDate.ToShortDateString()</td>
                <td>@trip.EndDate.ToShortDateString()</td>
                <td>
                    @if (trip.Accommodation != null)
                    {
                        <span>@trip.Accommodation.Name</span>

                        <br />
                        @if (!string.IsNullOrEmpty(trip.Accommodation.Phone))
                        {
                            <span>@trip.Accommodation.Phone</span>
                        }
                        @if (!string.IsNullOrEmpty(trip.Accommodation.Phone) && !string.IsNullOrEmpty(trip.Accommodation.Email))
                        {
                            <span> | </span>
                        }
                        @if (!string.IsNullOrEmpty(trip.Accommodation.Email))
                        {
                            <span>@trip.Accommodation.Email</span>
                        }
                    }
                </td>
                <td>
                    @foreach (var tripActivity in trip.TripActivities)
                    {
                        <span>- @tripActivity.Activity.Name</span>

                        <br />
                    }
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@trip.Id" method="post"
                          onsubmit="return confirm('Are you sure you want to delete this trip?');">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>